.page-align {
  text-align: center;
  margin-top: 50px;
}

.horizontal-container {
  display: flex;
  justify-content: center;
}

.text-container {
  font-family: Arial, sans-serif;
  height: 45vw;
  width: 45vw;
  resize: none;
  border: none;
}
  