.page-container {
  padding: 200px;
  max-width: 1000px;
  margin: 0 auto;
}

.page-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 50px;
  color: #333;
}

.file-summary {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 一行两个卡片 */
  gap: 20px;
}

.summary-card {
  background: #f9f9fc; /* 默认浅蓝紫色背景 */
  border: 1px solid #dce3f0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  align-items: center;
  display: flex;
  flex-direction: column;
 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* 使用更美观的字体 */
}

.card-header {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.card-header h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0;
  color: #333;
}

.summary-icon {
  font-size: 1.6em;
  color: #6272a4;
}

.summary-card p {
  font-size: 20px;
  color: #555;
  margin-top: 0px;
  margin: 5px 0;
}

/* 作者和关键词内部内容左对齐 */
.summary-card-authors div p,
.summary-card-keywords div p {
  margin: 5px 0;
}

/* 卡片内部样式 */
.card-container {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center; /* 上下居中 */
  margin-top: 30px;
}

.arrow-icon {
  font-size: 1em;
  color: #888;
}

/* 鼠标悬停效果 */
.summary-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}