/* src/components/Summary/SummaryPage.css */

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: #333;
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .page-message {
    font-size: 1.5em;
    color: #27ae60; /* 绿色字体 */
    margin-top: 10px;
  }
  